.el{
    height: 500px;
    width: 400px;
    margin-left: 10px;

    border: 1px solid black;
    align-content: center;
    border-radius: 20%;
    font-size: 30px;
}
.el-2{
    background-color: rgb(207, 209, 209);
}
.el-1{
 background-color: aliceblue;
}
.el-3{
    background-color: aliceblue;
   }
.container{
    
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
body{
    background-color: rgb(116, 192, 239);
}
.heading{
    font-size: 50px;
    margin: auto;
}
